.loginInput {
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
}

.loginCredentialsContainer > :nth-child(n + 2) {
    position: relative;
    top: 10%;
}

.loginCredentialsContainer > div {
    padding: 0.2em;
    display: flex;
    gap: 5px;
}

.loginCredentialsContainer > label {
    font-size: 0.9em;
    margin-left: 0.3em;
}

.loginCredentialsContainer > hr {
    border: 1px solid hsl(0, 0%, 50%);
}