@media(min-width: 400px) and (max-width: 655px) {
    .loginSection {
        margin-bottom: 0;
    }

    .loginTitle {
        font-size: 1.5em;
    }

    .loginButton {
        font-size: 1em;
    }

    .loginInput {
        font-size: 1em;
    }
}
