.loginCredentialsContainer {
    height: fit-content;
    display: grid;
    gap: 0.8em;
}

.loginInput {
    width: 100%;
    font-size: 1.1em;
    border: none;
    outline: none;
}

.loginCredentialsContainer > :nth-child(n + 2) {
    padding-bottom: 0.4em;
}

.loginCredentialsContainer > div {
    display: flex;
    gap: 6px;
    border-bottom: 1px solid hsl(0, 0%, 50%);
}

.loginIcon {
    font-size: 1.2em;
    margin-top: auto;
    padding-bottom: 0.25em;
}