.forgotPasswordSection {
    height: 50%;
    padding: 6em;
    margin-bottom: 8em;
}

.forgotPasswordContainer, .forgotPasswordCredentials, .forgotPasswordCredentialsContainer {
    display: grid;
}

.forgotPasswordCredentials, .forgotPasswordContainer {
    gap: 1.5em;
}

.forgotPasswordCredentialsContainer > input {
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.forgotPasswordContainer > h1 {
    height: fit-content;
    font-size: 1.7em;
    text-align:center;
}

.submitNewPasswordButton {
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 2vw;
}

.forgotPasswordError, .forgotErrorMessage {
    color: hsl(0 96% 38%);
    text-align: center;
}

.forgotErrorMessage {
    padding-top: 0.8em;
    font-size: 0.8em;
}