@media(min-width: 400px) and (max-width: 655px) {
    .forgotPasswordSection {
        left: 22%;
    }

    .forgotPasswordContainer > h1 {
        font-size: 1em;
        position: relative;
        right: 25%;
    }

    .forgotPasswordCredentials, .submitNewPasswordButton {
        position: relative;
        right: 25%;
    }
}
