.registrationSection {
    width: 20%;
    height: 70%;
    gap: 1.5em;
    padding: 3em;
    align-items: start;
    grid-template-columns: 1fr;
}

.registerTitle {
    text-align: center;
    font-size: 2.5em;
}

.signInButton {
    width: 100%;
    color: white;
    font-size: 1.4em;
    border: none;
    justify-self: center;
    padding: 0.5em;
}

.signInContainer {
    display: grid;
    gap: 1.2em;
    justify-items: center;
}

.signInContainer > * {
    font-size: 1.1em;
}

.registerError {
    text-align: center;
    color: hsl(0 96% 38%);
}