.registerCredentialsContainer {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
}

.registerCredentialsContainer, .registerTitle {
    height: fit-content;
}

.registerInput {
    display: grid;
    gap: 0.3em;
    padding-bottom: 1em;
}


.registerInput > input {
    font-size: 1em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.errorMessage {
    color: hsl(0 96% 38%);
    font-size: 0.8em;
}
