.registerCredentialsContainer {
    display: grid;
    padding-bottom: 2em;
}

.registerInput {
    display: inherit;
    gap: 0.5vh;
    padding-bottom: 1em;
}


.registerInput > input {
    font-size: 1em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
