#root {
    min-height: 100vh;
}

html,
body {
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.loginSection, .registrationSection, .forgotPasswordSection {
    display: grid;
    background-color: white;
    border-radius: 8px;
    box-shadow: -3px 1px 11px 1px rgba(157,147,147,0.91);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button, a {
    transition: 0.4s ease-in-out;
    transform: scale(1);
    will-change: transform;
}

button:hover, a:hover {
    cursor: pointer;
}

input {
    background-color: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    text-shadow: 0px 0px 0.5px black;
}

footer {
    height: fit-content;
}

footer > p {
    text-align: center;
}