.accountSection {
    display: grid;
    justify-content: center;
    margin: 7em 0em 2em 0em;
}

.accountContainer {
    display: grid;
    background-color: white;
    border: 1px solid rgba(157,147,147,0.91);
    border-radius: 1em;
    padding: 3em;
    gap: 1.5em;
}

.accountContainer > img {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: -3px 1px 11px 1px rgba(157,147,147,0.91);
    -moz-box-shadow: -3px 1px 11px 1px rgba(157,147,147,0.91);
    box-shadow: -3px 1px 11px 1px rgba(157,147,147,0.91);
}

.accountContainer > div > p {
    color: rgb(78, 71, 71);
}

.accountContainer > div {
    display: grid;
    gap: 1em;
}

.accountContainer > button {
    width: 50%;
    justify-self: center;
    border: 1px solid rgba(157,147,147,0.91);
    border-radius: 4px;
    padding: 0.5em;
}

@media(min-width: 0px) and (max-width: 655px) {
    .accountContainer > img {
        justify-self: center;
        width: 200px;
        height: 200px;
    }

    .accountContainer > div > p {
        font-size: 0.8em;
    }

    .accountContainer {
        gap: 1em;
    }
}